body {
  background-color: #73b6e6;
}

.countries {
  fill: #b0d0ab;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}
.locations {
  fill: white;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}
.route {
  fill: none;
  stroke-width: 0;
}

@media(max-width: 768px) {
  #map {
    margin-top: -100px;
  }
}
@media(min-width: 768px) {
  #map {
    margin-top: -300px;
  }
}

