doctype html
html
  head
    title alpha
    script(src='/js/jquery-2.1.4.min.js')
    link(rel="stylesheet", href="/css/alpha.css")

  body
    div(id="d_data" style="position: absolute; top:30px; left:223px;")
    div(id="map")


    script(src="/js/d3.v3.min.js")
    script(src="/js/queue.v1.min.js")
    script(src="/js/topojson.v1.min.js")
    script(src="/js/alpha.js")

